[Trsl]
ngram_window_size = 6
sample_size = 100
reduction_threshold = 10
set_filename = <'None' (without quotes) to build sets, else pass set file path if you want to use a word-set from data/word-sets>

[Set]
no_of_clusters = 50
no_of_words = 1000
word2vec_model_path = < Word2Vec precomputed bin file path>